body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 36% 5% 36%;
    box-shadow: 0 0 15px gray;
    box-sizing: border-box;
    border-radius: 1.2rem;
}

.ilustration {
    width: 100%;
}

.card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_content_box_left {
    display: flex;
}